<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>The Manatee Environment Configuration job is used to check for changes from manatees/trunk/src/config in subversion. If it notices a change, the job will&#xd;
start and tar up all the configuration files. It will then push the tar up into S3 for downloading.</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name></name>
        <refspec></refspec>
        <url>https://github.com/stelligent/continuous_delivery_open_platform.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>**</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <disableSubmodules>false</disableSubmodules>
    <recursiveSubmodules>false</recursiveSubmodules>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <authorOrCommitter>false</authorOrCommitter>
    <clean>false</clean>
    <wipeOutWorkspace>false</wipeOutWorkspace>
    <pruneBranches>false</pruneBranches>
    <remotePoll>false</remotePoll>
    <ignoreNotifyCommit>false</ignoreNotifyCommit>
    <useShallowClone>false</useShallowClone>
    <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
    <gitTool>Default</gitTool>
    <submoduleCfg class="list"/>
    <relativeTargetDir></relativeTargetDir>
    <reference></reference>
    <excludedRegions></excludedRegions>
    <excludedUsers></excludedUsers>
    <gitConfigName></gitConfigName>
    <gitConfigEmail></gitConfigEmail>
    <skipTag>false</skipTag>
    <includedRegions></includedRegions>
    <scmName></scmName>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <hudson.triggers.SCMTrigger>
      <spec>5 * * * *</spec>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>tar -czf jenkins_utilities.tar.gz config/*
ls</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.s3.S3BucketPublisher>
      <profileName>platform</profileName>
      <entries>
        <hudson.plugins.s3.Entry>
          <bucket>cdplatform</bucket>
          <sourceFile>jenkins_utilities.tar.gz</sourceFile>
        </hudson.plugins.s3.Entry>
        <hudson.plugins.s3.Entry>
          <bucket>cdplatform</bucket>
          <sourceFile>config/database_update.rb</sourceFile>
        </hudson.plugins.s3.Entry>
        <hudson.plugins.s3.Entry>
          <bucket>cdplatform</bucket>
          <sourceFile>config/createDbAndOwner.sql</sourceFile>
        </hudson.plugins.s3.Entry>
        <hudson.plugins.s3.Entry>
          <bucket>cdplatform</bucket>
          <sourceFile>config/pg_hba.conf</sourceFile>
        </hudson.plugins.s3.Entry>
        <hudson.plugins.s3.Entry>
          <bucket>cdplatform</bucket>
          <sourceFile>config/jenkins_backup.sh</sourceFile>
        </hudson.plugins.s3.Entry>
        <hudson.plugins.s3.Entry>
          <bucket>cdplatform</bucket>
          <sourceFile>config/server.xml</sourceFile>
        </hudson.plugins.s3.Entry>
      </entries>
    </hudson.plugins.s3.S3BucketPublisher>
  </publishers>
  <buildWrappers/>
</project>