<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>The Deploy job is used to deploy a working application onto a target environment. This job is typically run after the Target Environment&#xd;
job. In order to use this job for deploying an application, enter in the same value you used for the &quot;STACK_NAME&quot; when running the Target Environment job&#xd;
into the &quot;STACK_NAME&quot; parameter in this job. Jenkins will do the rest! </description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>STACK_NAME</name>
          <description></description>
          <defaultValue>cdplatform</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>deployToProduction</name>
          <description></description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>EMAIL</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name></name>
        <refspec></refspec>
        <url>git@github.com:stelligent/continuous_delivery_open_platform.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <disableSubmodules>false</disableSubmodules>
    <recursiveSubmodules>false</recursiveSubmodules>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <authorOrCommitter>false</authorOrCommitter>
    <clean>false</clean>
    <wipeOutWorkspace>false</wipeOutWorkspace>
    <pruneBranches>false</pruneBranches>
    <remotePoll>false</remotePoll>
    <ignoreNotifyCommit>false</ignoreNotifyCommit>
    <useShallowClone>false</useShallowClone>
    <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
    <gitTool>Default</gitTool>
    <submoduleCfg class="list"/>
    <relativeTargetDir></relativeTargetDir>
    <reference></reference>
    <excludedRegions></excludedRegions>
    <excludedUsers></excludedUsers>
    <gitConfigName></gitConfigName>
    <gitConfigEmail></gitConfigEmail>
    <skipTag>false</skipTag>
    <includedRegions></includedRegions>
    <scmName></scmName>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command># Get Language
Language=`ruby ${WORKSPACE}/lib/showback_domain.rb --sdbdomain ${SIMPLEDB_STACK} \
                                                   --item properties \
                                                   --key Language`

if [ $deployToProduction == true ]
then
 cd ${WORKSPACE}/deployment/
 cap production ${Language} database:migration stack=${STACK_NAME} key=/usr/share/tomcat6/.ssh/id_rsa language=${Language} sdbdomain=${SIMPLEDB_STACK}
else
 cd ${WORKSPACE}/deployment/
 cap staging ${Language} deploy sidekiq:start database:migration stack=${STACK_NAME} key=/usr/share/tomcat6/.ssh/id_rsa language=${Language} sdbdomain=${SIMPLEDB_STACK}
fi

# Get Application Stack Instance Autoscaling Group
AutoScalingGroup=`ruby ${WORKSPACE}/lib/showback_domain.rb --sdbdomain ${SIMPLEDB_STACK} \
                                                           --item ${STACK_NAME} \
                                                           --key AutoscalingGroup`

# Get first Instance in Autoscaling Group&apos;s IP address
HOST=`ruby ${WORKSPACE}/lib/return_instance_in_as_group.rb --autoscalingGroup ${AutoScalingGroup}`

cucumber ${WORKSPACE}/deployment/features/deployment.feature host=${HOST} user=ec2-user key=/usr/share/tomcat6/.ssh/id_rsa

# Email User about deployment
ruby ${WORKSPACE}/lib/send_deploy_email.rb --email ${EMAIL} \
                                           --ipaddress ${HOST} \
                                           --sender havoc@stelligent.com</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>
