<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name></name>
        <refspec></refspec>
        <url>git@github.com:stelligent/havoc.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <disableSubmodules>false</disableSubmodules>
    <recursiveSubmodules>false</recursiveSubmodules>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <authorOrCommitter>false</authorOrCommitter>
    <clean>false</clean>
    <wipeOutWorkspace>true</wipeOutWorkspace>
    <pruneBranches>false</pruneBranches>
    <remotePoll>false</remotePoll>
    <ignoreNotifyCommit>false</ignoreNotifyCommit>
    <useShallowClone>false</useShallowClone>
    <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
    <gitTool>Default</gitTool>
    <submoduleCfg class="list"/>
    <relativeTargetDir></relativeTargetDir>
    <reference></reference>
    <excludedRegions></excludedRegions>
    <excludedUsers></excludedUsers>
    <gitConfigName></gitConfigName>
    <gitConfigEmail></gitConfigEmail>
    <skipTag>false</skipTag>
    <includedRegions></includedRegions>
    <scmName></scmName>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <hudson.triggers.SCMTrigger>
      <spec>0 */3 * * *</spec>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>tar -czvf havoc_compute.tar.gz *

# Git clone application code
git clone git@github.com:stelligent/havoc_platform.git

# Get S3 Bucket
S3Bucket=`ruby ${WORKSPACE}/havoc_platform/lib/showback_domain.rb --sdbdomain ${SIMPLEDB_STACK} \
                                                                          --item properties \
                                                                          --key S3Bucket`
 
# Run unit tests
# cd havoc_compute/
# sudo bundle install
# rake

# Push artifacts up to S3
ruby ${WORKSPACE}/havoc_platform/lib/s3_upload.rb --filename havoc_compute.tar.gz  --bucket ${S3Bucket} --key havoc.tar.gz

cd ${WORKSPACE}/havoc_platform

# Create tar.gz of each artifact
tar -czvf capistrano.tar.gz deployment/*

ruby ${WORKSPACE}/havoc_platform/lib/s3_upload.rb --filename capistrano.tar.gz     --bucket ${S3Bucket} --key capistrano.tar.gz

# Build Artifact URL
ruby ${WORKSPACE}/havoc_platform/lib/set_properties.rb --sdbdomain ${SIMPLEDB_STACK} \
                                                               --itemname properties \
                                                               --property ArtifactUrl \
                                                               --value https://s3.amazonaws.com/${S3Bucket}/havoc.tar.gz</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.BuildTrigger>
      <childProjects>BuildDeployedAMI</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers/>
</project>