<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name></name>
        <refspec></refspec>
        <url>https://github.com/stelligent/continuous_delivery_open_platform.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <disableSubmodules>false</disableSubmodules>
    <recursiveSubmodules>false</recursiveSubmodules>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <authorOrCommitter>false</authorOrCommitter>
    <clean>false</clean>
    <wipeOutWorkspace>false</wipeOutWorkspace>
    <pruneBranches>false</pruneBranches>
    <remotePoll>false</remotePoll>
    <ignoreNotifyCommit>false</ignoreNotifyCommit>
    <useShallowClone>false</useShallowClone>
    <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
    <gitTool>Default</gitTool>
    <submoduleCfg class="list"/>
    <relativeTargetDir></relativeTargetDir>
    <reference></reference>
    <excludedRegions></excludedRegions>
    <excludedUsers></excludedUsers>
    <gitConfigName></gitConfigName>
    <gitConfigEmail></gitConfigEmail>
    <skipTag>false</skipTag>
    <includedRegions></includedRegions>
    <scmName></scmName>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command># Set SSH Key
SSH_KEY=development

# Set AMI ID
BASE_AMI=`ruby ${WORKSPACE}/lib/showback_domain.rb --item ami \
                                                 --key base`
# Set Domain Name
Domain=`ruby ${WORKSPACE}/lib/showback_domain.rb --item properties \
                                                 --key DOMAIN`
# Create Cloudformaton Stack
ruby ${WORKSPACE}/lib/create_stack.rb --stackname AMI-${BUILD_NUMBER} \
                                      --domain ${Domain} \
                                      --scriptedorami SCRIPTED \
                                      --ami ${BASE_AMI} \
                                      --templatelocation ${WORKSPACE}/infrastructure/target/production.template \
                                      --application AMI-${BUILD_NUMBER} \
                                      --sshkey ${SSH_KEY} \
                                      --s3bucket ${S3BUCKET} \
                                      --securitygroup ${SGID} \
                                      --snstopic ${SNS_TOPIC}

# Load SimpleDB Domain with Key/Value Pairs
ruby ${WORKSPACE}/lib/load_domain.rb --filename AMI-${BUILD_NUMBER} \
                                     --itemname AMI-${BUILD_NUMBER}

# Pull and store variables from SimpleDB
host=`ruby ${WORKSPACE}/lib/showback_domain.rb --item AMI-${BUILD_NUMBER} \
                                               --key InstanceIPAddress`

# Run Acceptance Tests
cucumber ${WORKSPACE}/infrastructure/target/features/production.feature host=${host} user=ec2-user key=/usr/share/tomcat6/.ssh/id_rsa

# AMI the instance
ruby ${WORKSPACE}/lib/create_ami.rb --stackname AMI-${BUILD_NUMBER} \
                                    --imagename AMI-${BUILD_NUMBER}


</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>